<!-- Cassowary Section -->
<section class="tertiary" id="cassowary">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Cassowary</h2>
        <hr class="star">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Cassowary is an incremental constraint solving toolkit that efficiently solves systems of linear equalities and inequalities. Constraints may be either requirements or preferences. Client code specifies the constraints to be maintained, and the solver updates the constrained variables to have values that satisfy the constraints.</p>
      </div>
      <div class="col-lg-4">
        <p>Cassowary was developed by Greg Badros and Alan Borning, and was optimized for user interface applications. Badros used Cassowary amongst others for implementing Constraint Cascading Style Sheets (CCSS), an extension to Cascading Style Sheets (CSS).</p>
      </div>
    </div>
  </div>
</section>
