<!-- Slack Section -->
<section class="secondary" id="slack">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Google group</h2>
        <hr class="star">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-4 text-center">
        <p>An easy accessible and open google group named <a href="https://groups.google.com/forum/#!forum/overconstrained">overconstrained</a>.</p>
      </div>
    </div>
  </div>
</section>
