<!-- Slack Section -->
<section class="tertiary" id="slack">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Slack</h2>
        <hr class="star">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <p>Here you'll be able to discuss anything related to cassowary.</p>
        <script async defer src="https://overconstrained-slack.herokuapp.com/slackin.js?large"></script>
        <p>(Hit the button above to join)</p>
      </div>
    </div>
  </div>
</section>
