<!-- Slack Section -->
<section class="tertiary" id="slack">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Slack</h2>
        <hr class="star">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>There's a slack team where we can connect and share experiences and discuss across projects and platforms. Slack has a billing plan and is therefore by invitation only. The costs is covered by <a href="http://agens.no/">agens.no</a>.</p>
      </div>
      <div class="col-lg-4">
        <p>On slack we have various channels of interest e.g. #documentation, #rhea, #ios, #c++.</p>
        <p>Request an invite by sending a mail to <a href="mailto:hfossli@gmail.com">hfossli@gmail.com</a></p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="mailto:hfossli@gmail.com?subject=overconstrained.slack.com&body=Invite request" class="btn btn-lg btn-outline">
          <i class="fa fa-envelope"></i> Request invite
        </a>
      </div>
    </div>
  </div>
</section>
