<!-- Cassowary Section -->
<section class="tertiary" id="cassowary">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>White papers</h2>
        <hr class="star">
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <p>
          Alan Borning, Kim Marriott, Peter Stuckey, and Yi Xiao, Solving Linear Arithmetic Constraints for User Interface Applications, Proceedings of the 1997 ACM Symposium on User Interface Software and Technology, October 1997, pages 87-96 (<a href="https://constraints.cs.washington.edu/solvers/uist97.html">pdf</a>).
        </p>
      </div>
      <div class="col-md-4">
        <p>
          Greg J. Badros and Alan Borning, "The Cassowary Linear Arithmetic Constraint Solving Algorithm: Interface and Implementation", Technical Report UW-CSE-98-06-04, June 1998 (<a href="https://constraints.cs.washington.edu/cassowary/cassowary-tr.pdf">pdf</a>).
        </p>
      </div>
      <div class="col-md-4">
        <p>
          Greg J. Badros, Alan Borning, and Peter J. Stuckey, "The Cassowary Linear Arithmetic Constraint Solving Algorithm," <em>ACM Transactions on Computer Human Interaction</em>, Vol. 8 No. 4, December 2001, pages 267-306 (<a href="https://constraints.cs.washington.edu/solvers/cassowary-tochi.pdf">pdf</a>).
        </p>
      </div>
    </div>
  </div>
</section>
